body {
  text-align: center;
  font-family: Helvetica;
}
.headline-list {
background-image: url('resources/images/flatiron-building.png');
}
h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}
.headline-list li {
  font-size: 18px;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.ny-design {
  background-image: url('resources/images/flatiron-building.png');
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
