body {
  text-align: center;
  font-family: Helvetica;
}
.headline-list {
background-image: url('../images/flatiron-building.png');
}
h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}
.menu-list p {
  font-size: 18px;
  color: white;
  text-decoration: underline;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.ny-design {
  background-image: url('../images/flatiron-building.png');
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.footer {
  background-color: #696969;
  font-size: 11px;
  color: white;
  text-align: left;
}


